<h1 class="text-center">Welcome to the all-powerful GAME SEARCH!</h1>
<div>
    <form action="">
        <label for="titleSearch" class="form-label">Search by game title</label>
        <input type="text" id="titleSearch" class="form-control">

        <div class="form-check">
            <h4>Search by genre</h4>
            <input class="form-check-input" type="checkbox" value="" id="arpg">
            <label class="form-check-label" for="flexCheckDefault">
                ARPG
            </label>
            <br>
            <input class="form-check-input" type="checkbox" value="" id="battle-royale">
            <label class="form-check-label" for="flexCheckDefault">
                Battle Royale
            </label>
            <br>
            <input class="form-check-input" type="checkbox" value="" id="card-game">
            <label class="form-check-label" for="flexCheckDefault">
                Card Game
            </label>
            <br>
            <input class="form-check-input" type="checkbox" value="" id="fighting">
            <label class="form-check-label" for="flexCheckDefault">
                Fighting
            </label>
            <br>
            <input class="form-check-input" type="checkbox" value="" id="mmoarpg">
            <label class="form-check-label" for="flexCheckDefault">
                MMOARPG
            </label>
            <br>
            <input class="form-check-input" type="checkbox" value="" id="moba">
            <label class="form-check-label" for="flexCheckDefault">
                MOBA
            </label>
            <br>
            <input class="form-check-input" type="checkbox" value="" id="mmo">
            <label class="form-check-label" for="flexCheckDefault">
                MMO
            </label>
            <br>
            <input class="form-check-input" type="checkbox" value="" id="racing">
            <label class="form-check-label" for="flexCheckDefault">
                Racing
            </label>
            <br>
            <input class="form-check-input" type="checkbox" value="" id="shooter">
            <label class="form-check-label" for="flexCheckDefault">
                Shooter
            </label>
            <br>
            <input class="form-check-input" type="checkbox" value="" id="sports">
            <label class="form-check-label" for="flexCheckDefault">
                Sports
            </label>
            <br>
            <input class="form-check-input" type="checkbox" value="" id="strategy">
            <label class="form-check-label" for="flexCheckDefault">
                Strategy
            </label>
            <br>

        </div>
    </form>

</div>

<div>
    <h4>Search results:</h4>
</div>