
<div class="container-fluid">
    
    <h1 class="text-center">GAME SEARCH</h1>
    
<div class="row">
    <div class="col-sm"> 
    <form id="titleSearchForm" class="col-sm-4">
    <label for="titleSearch" class="form-label">Search by game title</label>
    <input type="text" id="titleSearchInput" class="form-control">
    <button id="titleSearchBtn" class="btn btn-primary" type="submit">Search by Title</button>

    </form>
   </div>
   <div class="col-sm">
    <form id="genreSearchForm">
        <div class="form-check">
            <h4>Search by genre</h4>
            <input class="form-check-input" type="checkbox" value="ARPG" id="arpg">
            <label class="form-check-label" for="arpg">
                ARPG
            </label>
            <br>
            <input class="form-check-input" type="checkbox" value="Battle Royale" id="battle-royale">
            <label class="form-check-label" for="battle-royale">
                Battle Royale
            </label>
            <br>
            <input class="form-check-input" type="checkbox" value="Card Game" id="card-game">
            <label class="form-check-label" for="card-game">
                Card Game
            </label>
            <br>
            <input class="form-check-input" type="checkbox" value="Fighting" id="fighting">
            <label class="form-check-label" for="fighting">
                Fighting
            </label>
            <br>
            <input class="form-check-input" type="checkbox" value="MMOARPG" id="mmoarpg">
            <label class="form-check-label" for="mmoarpg">
                MMOARPG
            </label>
            <br>
            <input class="form-check-input" type="checkbox" value="MOBA" id="moba">
            <label class="form-check-label" for="moba">
                MOBA
            </label>
            <br>
            <input class="form-check-input" type="checkbox" value="MMO" id="mmo">
            <label class="form-check-label" for="mmo">
                MMO
            </label>
            <br>
            <input class="form-check-input" type="checkbox" value="Racing" id="racing">
            <label class="form-check-label" for="racing">
                Racing
            </label>
            <br>
            <input class="form-check-input" type="checkbox" value="Shooter" id="shooter">
            <label class="form-check-label" for="shooter">
                Shooter
            </label>
            <br>
            <input class="form-check-input" type="checkbox" value="Sports" id="sports">
            <label class="form-check-label" for="sports">
                Sports
            </label>
            <br>
            <input class="form-check-input" type="checkbox" value="Strategy" id="strategy">
            <label class="form-check-label" for="strategy">
                Strategy
            </label>
            <button id="genreSearchBtn" class="btn btn-primary" type="submit">Search by Genre</button>

        </div>
    </form>

    </div>

</div>
    </div>
<div>
    {{#if allGamesSearch}}
    {{> search-results}}
    {{/if}}


    {{#if titleSearch}}
    {{> title-search-results}}
    {{/if}}

    {{#if genreSearch}}
    {{> genre-search-results}}
    {{/if}}
</div>
</div>

<script src="/js/titleGenreSearch.js"></script>