<!-- Carousel Section -->
<section class="d-block" class="d-inline-flex p-2" class="d-flex flex-column mb-3">
<div id="container">
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner animate__animated animate__zoomIn">
      {{#each carouselGames}}
      <div class="carousel-item{{#if @first}} active{{/if}}" data-bs-interval="1950">
        <div class="image-container">
          <img src="{{this}}" class="d-block w-100 carousel-image" alt="GAME-ON">
        </div>
      </div>
      {{/each}}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>
</div>
</section>
<section class="d-block" class="d-inline-flex p-2" class="d-flex flex-column mb-3">
<div class="container-fluid mt-5">
  <div class="row row-col-2 d-flex justify-content-between m-2">
    <button type="button" id="btn" href="/gamesearch/1" class="mario text-black"><i class="fas fa-play"></i>PLAY
      NOW</button>
    <div class="col-md-6">
      <p class="text-white text-end">
        GAME ON! is your one-stop destination for a FREE online gaming experience. Our platform offers a wide array of
        games, catering to all types of gamers, from action enthusiasts to strategy masters. With a vast selection of
        games to choose from, you can explore new titles or revisit your all-time favorites.
      </p>
    </div>
  </div>
</div>
</section>
<br><br><br><br>

<!-- Reviews -->
{{!-- Old --}}
{{!-- <section class="d-block">
<div class="section-2 container">
  <div class="row align-items-stretch">
    <div class="col-lg-2 col-md-12">
      <div class="d-flex flex-column">
        <h1 class="text-white">What People say about us💬</h1>
      </div>
    </div>
    <div class="col-lg-3 col-md-12 m-1 feedback-desc">
      <div class="d-flex flex-column">
        <p class="text-white p-2">I LOVE GAME ON! This is the BEST free online website to get games and to know what's
          outthere! It's fun for the whole family!</p>
        <br>
        <h4 class="text-white">Poornima (@fairytoothpick87)</h4>
      </div>
    </div> --}}
    <!-- =========================== -->
    {{!-- <div class="col-lg-3 col-md-12 m-1 feedback-desc">
      <div class="d-flex flex-column">
        <p class="text-white p-2">GAME ON! offers excellent value for both casual and hardcore games online! Whether
          you're
          a sports enthusiast, a fan of action-packs, or enjoy simulation and strategy games, GAME ON! provides an
          all-inclusive gaming experience to all games and that's hard to resist!💙💪</p>
        <br>
        <h4 class="text-white">Sam (@godsmaster4)</h4>
      </div>
    </div> --}}
    <!-- ============================ -->
    {{!-- <div class="col-lg-3 col-md-12 m-1 feedback-desc">
      <div class="d-flex flex-column">
        <p class="text-white p-2">I usually don't write reviews but I HAD TO for the GAME ON! website! This website so
          fun
          and easy!🕺 They have
          so many genres of games! I love the diversity of this website it is not like those other pay wall online
          games
          *cough* EA *cough* But I am telling everyone about this website! </p>
        <br>
        <h4 class="text-white">Austin (@reallifeplayer)</h4>
      </div>
    </div>
  </div>
</div>
</section> --}}

{{!-- //////////////////////////////////////////// --}}
{{!-- New --}}
<section class="d-block">
    <div class="container">
        <div class="row align-items-stretch">
            <div class="col-md-6">
        <h1 class="text-white">What People say about us💬</h1>
      </div>
    </div>
    <div class="feedback-desc m-1">
       <div class="col-md-6">
        <p class="text-white p-2">I LOVE GAME ON! This is the BEST free online website to get games and to know what's
          out there! It's fun for the whole family! GAME ON is my number go to site to play games I have such a blast!</p>
        <br>
        <h4 class="text-white">Poornima (@fairytoothpick87)</h4>
      </div>
    </div>
    <!-- =========================== -->
    <div class="feedback-desc m-1">
       <div class="col-md-6">
        <p class="text-white p-2">GAME ON! offers excellent value for both casual and hardcore games online! Whether
          you're
          a sports enthusiast, a fan of action-packs, or enjoy simulation and strategy games, GAME ON! provides an
          all-inclusive gaming experience to all games and that's hard to resist!💙💪</p>
        <br>
        <h4 class="text-white">Sam (@godsmaster4)</h4>
      </div>
    </div>
    <!-- ============================ -->
    <div class="feedback-desc m-1">
       <div class="col-md-6">
        <p class="text-white p-2">I usually don't write reviews but I HAD TO for the GAME ON! website! This website so
          fun
          and easy!🕺 They have
          so many genres of games! I love the diversity of this website it is not like those other pay wall online
          games
          *cough* EA *cough* But I am telling everyone about this website! </p>
        <br>
        <h4 class="text-white">Austin (@reallifeplayer)</h4>
      </div>
    </div>
  </div>
</div>
</section>
<br><br><br><br>

<!-- FOOTER SECTION -->
<section class="d-block" class="d-inline-flex p-2" class="d-flex flex-column mb-3">
<footer>
  <div class="footer-body">
    <div class="logo footer-logo mario">
      <i class="fas fa-gamepad"></i>
      <h1>GAME ON!</h1>
    </div>
    <ul>
      <h3>Get In Touch</h3>
      <li><a href="https://github.com/vladesovc">Corey's GitHub</a></li>
      <li><a href="https://github.com/bdeutmeyer">Beth's GitHub</a></li>
      <li><a href="https://github.com/taycannon">Taylor's GitHub</a></li>
      <li><a href="https://github.com/lizfischstix">Liz's GitHub</a></li>
    </ul>
  </div>
</footer>
</section>