<!-- Carousel Section -->
<div id="container">
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">

      {{#each carouselGames}}
      <div class="carousel-item{{#if @first}} active{{/if}}" data-bs-interval="19500">
        <div class="image-container">
          <img src="{{this}}" class="d-block w-100 carousel-image" alt="GAME-ON">
        </div>
      </div>
      {{/each}}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>
</div>
</div>


<div class="container" id="textCAR">
  <div class="row">
    <div class="col-md-6">
      <p>
        Welcome to GAME-ON website! Driven by passion, we are a global leader in digital interactive
        entertainment.

        Headquartered in Chicago, Illinois, we develop and deliver games, content, and online services for
        Internet-connected consoles, mobile devices, and personal computers. Through our cutting-edge games,
        innovative services, and powerful technologies, we bring worlds with infinite possibilities to
        everyone worldwide! To active players and fans around the globe!
      </p>
      <p>
        GAME-ON is your one-stop destination for an immersive gaming experience. Our platform offers a wide
        array of games, catering to all types of gamers, from action enthusiasts to strategy masters. With a
        vast selection of games to choose from, you can explore new titles or revisit your all-time favorites.
      </p>
    </div>
  </div>
  <a href="/gamesearch/1"><button type="button" id="btn" class="mario text-black"><i class="fas fa-play"></i>PLAY NOW</button></a>
  

  <!-- Reviews -->
  <div class="section-2">
    <h1>What People say about us💬</h1>
    <div class="section-3-wrapper">
      <div class="feedback"></div>
      <div class="feedback-desc">
        <p>GAME-ON offers excellent value for both casual and hardcore games online!
          Whether you're a sports enthusiast, a fan of action-packs, or enjoy simulation and
          strategy games,
          GAME-ON provides an all-inclusive gaming experience to all games and that's hard to resist!💙💪</p>
        <br>
        <h4>Sam (@godsmaster4)</h4>
      </div>
      <!-- =========================== -->
      <div class="feedback-desc">
        <p>I LOVE GAME-ON! This is the BEST online website to get games to know what's out there!
          Not only I get on here but also my husband and my child!(education games for my child of
          course!😉)</p>
        <br>
        <h4>Poornima (@fairytoothpick87)</h4>
      </div>
    </div>
    <!-- ============================ --> 
    <div class="feedback-desc">
      <p>I usually don't write reviews but I HAD TO for the GAME-ON website! This website so
        fun and easy!🕺 They have so many genres of games with categories as well! I love
        the diversity of this website it is not like those other pay wall
        online games *cough* EA *cough* But I am telling everyone about this website! </p>
      <br>

      <h4>Austin (@reallifeplayer)</h4>
    </div>
  </div>
</div>

<!-- FOOTER SECTION -->
<footer>
  <div class="footer-body">
    <div class="logo footer-logo mario">
      <i class="fas fa-gamepad"></i>
      <h1>GAME ON!</h1>
    </div>
    <ul>
      <h3>Get In Touch</h3>
      <li><a href="https://github.com/vladesovc"><i class="fab fa-facebook"></i>Corey's GitHub</a>
      </li>
      <li><a href="https://github.com/bdeutmeyer"><i class="fab fa-instagram"></i>Beth's
          GitHub</a></li>
      <li><a href="https://github.com/taycannon"><i class="fab fa-twitter"></i>Taylor's GitHub</a>
      </li>

      <li><a href="https://github.com/lizfischstix"><i class="fab fa-linkedin"></i>Liz's
          GitHub</a></li>
    </ul>
  </div>
</footer>