{{!-- Carousel --}}

<div id="container">
<div class="container" id="textCAR">
  <div class="row">
    <div class="col-md-6">
      <p>
         Welcome to GAME-ON website! Driven by passion, we are a global leader in digital interactive entertainment.

      Headquartered in Chicago in Illinois, we develop and deliver games, content, and online services for
      Internet-connected consoles,
      mobile devices, and personal computers. Through our cutting-edge games, innovative services, and powerful
      technologies, we bring worlds with
      infinite possibilities to everyone worldwide! To active players and fans around the globe!
      </p>
        GAME-ON is your one-stop destination for an immersive gaming experience. Our platform offers a wide array of games, catering to all types of gamers, 
        from action enthusiasts to strategy masters. With a vast selection of games to choose from, you can explore new titles or revisit your all-time favorites.
      </p>
    </div>

<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    {{#each carouselGames}}
    <div class="carousel-item item{{#if @first}} active{{/if}}" data-bs-interval="5000">
      <img src={{this}} class="d-block w-100" alt="GAME-ON">
    </div>
    {{/each}}
  </div>
<p>


{{!-- <p>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    About
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
   Welcome to GAME-ON website! Driven by passion, we are a global leader in digital interactive entertainment.

      Headquartered in Chicago in Illinois, we develop and deliver games, content, and online services for
      Internet-connected consoles,
      mobile devices, and personal computers. Through our cutting-edge games, innovative services, and powerful
      technologies, we bring worlds with
      infinite possibilities to everyone worldwide! To active players and fans around the globe!
  </div>
</div> --}}
