
<!-- Form -->
<div id="newUSup" class="container mt-3 mb-2">
    <h1 class="text-white text-bold">New User? Sign up!</h1>
    <div class="row">
        <!-- Sign-up Form -->
        <div class="col-md-6">
            <div class="border border-info p-4">
                <h1 class="text-white text-bold">Sign-up Form</h1>
                <form id="signupForm" class="was-validated">
                    <div class="mb-3">
                        <label for="signupEmail" class="form-label text-white">Email</label>
                        <input type="email" class="form-control is-invalid" id="signupEmail"
                            placeholder="Email address (required)" required
                            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}">
                        {{!-- <div class="text-white text-bold">
                            Please enter a valid Email in the textbox.
                        </div> --}}
                    </div>
                    <hr>
                    <div class="mb-3">
                        <label for="signupUsername" class="form-label text-white">Username</label>
                        <input type="text" class="form-control is-invalid" id="signupUsername"
                            placeholder="Username (required)" required minlength="3" maxlength="10" pattern=".{3,10}"
                            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}">
                        {{!-- <div class="text-white text-bold">
                            Please enter a Username in the textbox.
                        </div> --}}
                    </div>
                    <hr>
                    <div class="mb-3">
                        <label for="signupPassword" class="form-label text-white">Password</label>
                        <input type="password" class="form-control is-invalid" id="signupPassword"
                            placeholder="Password (required)" required minlength="6" maxlength="11" pattern=".{6,11}">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        {{!-- <div class="text-white text-bold">
                            Please enter a Password in the textbox.
                        </div> --}}
                    </div>
                    <hr>
                    <div class="mb-3">
                        <label for="verifyInfo" class="form-label text-white">Did you verify that all the info is correct?</label>
                        <select class="form-select is-invalid" id="verifyInfo" name="verifyInfo" required
                            aria-label="select example">
                            <option value="">Please select</option>
                            <option value="1">Yes</option>
                            <option value="2">No</option>
                        </select>
                        {{!-- <div class="text-white text-bold">
                            Please select an option to proceed.
                        </div> --}}
                    </div>
                    <div class="mb-3">
                        <button id="signupBtn" class="btn btn-primary" type="submit">Sign up</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Login Form -->
        <div id="returnUS" class="col-md-6">
            <h1 class="text-white text-bold">Returning User? Log in!</h1>
            <div class="border border-primary p-4">
                <h1 class="text-white text-bold">Login Form</h1>
                <form id="loginForm" class="was-validated">
                    <div class="mb-3">
                        <label for="loginEmail" class="form-label text-white">Email</label>
                        <input type="email" class="form-control is-invalid" id="loginEmail"
                            placeholder="Required Email address" required
                            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}">
                        {{!-- <div class="text-white text-bold">
                            Please enter a valid Email in the textbox.
                        </div> --}}
                    </div>
                    <hr>
                    <div class="mb-3">
                        <label for "loginPassword" class="form-label text-white">Password</label>
                        <input type="password" class="form-control is-invalid" id="loginPassword"
                            placeholder="Required password" required>
                        {{!-- <div class="text-white text-bold">
                            Please enter a Password in the textbox.
                        </div> --}}
                    </div>
                    <div class="form-check mb-3">
                        <input type="checkbox" class="form-check-input is-invalid" id="checkLoginForm" required>
                        <label class="form-check-label" for="checkLoginForm">Check this checkbox when you've verified
                            all info</label>
                        <div class="text-white text-bold">Please check the checkbox to proceed.</div>
                    </div>
                    <div class="mb-3">
                        <button id="loginBtn" class="btn btn-primary" type="submit">Log In</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




<!-- Script -->
<script src="js/loginSignup.js"></script>