{{!-- Form --}}
<form id="signupForm" class="was-validated">
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control is-invalid" id="signupEmail" placeholder="Required Email address" required>
        <div class="invalid-feedback">
            Please enter a valid Email in the textbox.
        </div>
    </div>
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control is-invalid" id="signupUsername" placeholder="Required Username" required>
        <div class="invalid-feedback">
            Please enter a Username in the textbox.
        </div>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control is-invalid" id="signupPassword" placeholder="Required password" required>
        <div class="invalid-feedback">
            Please enter a Password in the textbox.
        </div>
    </div>
    <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" id="checkSignupForm" required>
        <label class="form-check-label" for="checkForm">Check this checkbox when you've verified all info</label>
        <div class="invalid-feedback">Please check the checkbox to proceed.</div>
    </div>
    <div class="mb-3">
        <button id="signupBtn" class="btn btn-primary" type="submit">Sign up</button>
    </div>
</form>

<form id="loginForm" class="was-validated">
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control is-invalid" id="loginEmail" placeholder="Required Email address" required>
        <div class="invalid-feedback">
            Please enter a valid Email in the textbox.
        </div>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control is-invalid" id="loginPassword" placeholder="Required password" required>
        <div class="invalid-feedback">
            Please enter a Password in the textbox.
        </div>
    </div>
    <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" id="checkLoginForm" required>
        <label class="form-check-label" for="checkForm">Check this checkbox when you've verified all info</label>
        <div class="invalid-feedback">Please check the checkbox to proceed.</div>
    </div>
    <div class="mb-3">
        <button id="loginBtn" class="btn btn-primary" type="submit">Log In</button>
    </div>
</form>

{{!-- Script --}}
<script src="js/loginSignup.js"></script>