* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
body{
    background: #5D5D81;
}

.container {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Background of navbar */
header {
    width: 100%;
    height: 95px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* NavBar Section */
.logo {
    width: 300px;
    height: 10vh;
    background: #550381;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    clip-path: polygon(0 0, 100% 0, 64% 100%, 0% 100%);
    /* padding: 10px; */
    line-height: 1.3rem;
}

.logo p {
    width: 130px;
    margin-left: 10px;
    font-size: 20px;
}

.logo .fas {
    font-size: 50px;
}

ul.navbar {
    /* display: flex; */
    list-style: none;
}

ul.navbar li {
    width: 120px;
}

ul.navbar li a {
    text-decoration: none;
    font-weight: bold;
}

ul.navbar li a.active {
    color: #FEC53A;
}

/* Content | Top Half */
.content-wrapper {
    width: 80%;
    min-height: 80vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.content-desc h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.content-desc p {
    width: 550px;
    font-size: 1.3rem;
    line-height: 2rem;
    margin-bottom: 10px;
}

#btn,
#btn2 {
    width: 350px;
    height: 10vh;
    padding-left: 20px;
    outline: none;
    border: none;
    background: #FEC53A;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 15px;
    clip-path: polygon(0 0, 74% 0, 100% 100%, 0% 100%);
    border-radius: 20px;
    text-align: left;
}

/* Carousel */
#textCAR {
    color: white;
}

/* CSS */
.image-container {
    display: flex;
    align-items: center; /* Vertically center the images */
    justify-content: center; /* Horizontally center the imagex */
  }
  .carousel-image {
    max-width: 700px; 
    max-height: 700px; 
  }
  

.logo-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

.logo-section .fas {
    font-size: 6rem;
    color: #FEC53A;
}

.logo-section h1 {
    width: 250px;
    font-size: 2rem;
    color: #FEC53A;
    margin-left: 10px;
}

/* Section 1 starts here */

/* For game cat but may delete or change to reviews */
/* .section-1{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.767),rgba(0, 0, 0, 0.712)),
    url(../images/fortnit.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

} */


.section-1-wrapper {
    width: 70%;
    margin: auto;
}

.section-1 h1 {
    width: 500px;
    color: #FEC53A;
    font-size: 1.5rem;
    position: relative;
    font-weight: 400;
}

/* Section 2 starts here */
/* Reviews pt1 */

.section-2 {
    width: 100%;
    height: 50vh;

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.section-2 h1 {
    font-size: 2rem;
    color: #fff;
    margin: 20px 0;
}

/* Section 3 starts here */
.section-3 h1 {
    font-size: 2rem;
    color: #fff;
    text-align: center;
    font-weight: 400;
}

.section-3-wrapper {
    display: flex;
    min-height: 70vh;
    align-items: center;
    justify-content: center;
}

.feedback-desc {
    /* width: 300px;
    height: 300px; */
    background: rgba(0, 0, 0, 0.767); /* Review background maybe might change? */
    /* padding: 10px;
    color: #fff;
    margin-right: 10px; */
}

/* FOoter section */
footer{
    width: 100%;
    height: 55vh;
    background: #282828;
    display: flex;
    align-items: center;
    
}
.footer-body{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.footer-logo{
    height: 12vh;
    background-color: #FEC53A;
    color: #000;
}

h3 {
    color: white;
    padding-bottom: 10px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    margin-top: 10px;
}
ul li a:hover{
    color: #FEC53A;
}
.footer-bottom{
    width: 100%;
    height: 7;
    background: #1B1919;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875;
}
.footer-bottom span{
    color: #FEC53A;
    font-weight: bold;
}

/* Reviews */
.review-container {
    display: flex;
    flex: 1; /* Takes up available space */
    padding: 20px;
    flex-direction: column;
}
.review-input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
#reviewTitle, #reviewBody {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.review-button {
    padding: 10px;
    background-color: #337ab7;
    color: white;
    border: none;
    cursor: pointer;
}
#review-game-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}
.review-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.review-card-body {
    padding: 10px;
}
.review-card-container {
    display: flex;
    flex: 1; /* Takes up available space */
    padding: 20px;
    flex-direction: column;
    align-items: center;
}
@font-face {
    font-family: 'mario'; /* Choose a name for your font */
    src: url('../fonts/Mario-Party-Hudson-Font.ttf') format('truetype'); /* Specify the path to your TTF file */
  }
.mario{
    font-family: 'mario';
    color: white;
    font-size: 3rem;
  }
  

