body {
    background-color: #71A9F7;
    
}

#carouselExampleInterval {
    width: 600px; 
    height: 600px; 
    margin: auto;
  }

  /* Login  */
 
  /* CSS for valid input */
.form-control:valid {
    border-color: green;
}

/* CSS for invalid input */
.form-control:invalid {
    border-color: red;
}

#newUSup {
    text-align: left;
    padding-left: 45px;
}



