/* Main handlebars */
#carouselExampleInterval {
    width: 600px; 
    height: 600px; 
    margin: auto;
  }

 /* Login/Sign-Up */

  /* CSS for valid input */
.form-control:valid {
    border-color: green;
}

/* CSS for invalid input */
.form-control:invalid {
    border-color: red;
}





